$font-family-sans-serif: 'SF Pro Display', sans-serif;
$body-bg: #fff !default;
$body-color: #000 !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1080px,
        xxl: 1104px
) !default;

$contentAccent: #3D72EC;
$contentSecondary: #8F8F8F;
$mainBackground: #F8F8F8;
$contentPrimary: #000;

$grey-300: #ADADAD;
$grey-500: #707070;

$border-color: #ccc;
