@import 'src/styles/variables';

.ref {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 12px;
}

.amount {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 4px;
}

.logo {
  width: 24px;
  margin-bottom: 0.5rem;
}

.number {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}

.company {
  font-size: 13px;
  line-height: 16px;
  color: $grey-300;
}

.airport {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $grey-500;
  max-width: 185px;
}
