@import "src/styles/variables";

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $contentSecondary;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../../images/fallback-airline.svg") no-repeat 0 0;
  background-size: contain;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
