@import 'src/styles/variables';

.ref {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 12px;
}

.amount {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 4px;
}
