@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Black.eot');
  src: url('../assets/fonts/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Black.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Black.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-BlackItalic.eot');
  src: url('../assets/fonts/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-BlackItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-BoldItalic.eot');
  src: url('../assets/fonts/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-BoldItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-LightItalic.eot');
  src: url('../assets/fonts/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-LightItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Regular.eot');
  src: url('../assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Regular.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Light.eot');
  src: url('../assets/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Light.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Light.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Heavy.eot');
  src: url('../assets/fonts/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Heavy.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Heavy.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Bold.eot');
  src: url('../assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Bold.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-HeavyItalic.eot');
  src: url('../assets/fonts/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-HeavyItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Medium.eot');
  src: url('../assets/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Medium.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-MediumItalic.eot');
  src: url('../assets/fonts/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-MediumItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-UltralightItalic.eot');
  src: url('../assets/fonts/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-UltralightItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Thin.eot');
  src: url('../assets/fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Thin.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Ultralight.eot');
  src: url('../assets/fonts/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Ultralight.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Ultralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Medium.eot');
  src: url('../assets/fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Medium.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Light.eot');
  src: url('../assets/fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Light.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Regular.eot');
  src: url('../assets/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Regular.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Semibold.eot');
  src: url('../assets/fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Semibold.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../assets/fonts/SFUIText-Heavy.eot');
  src: url('../assets/fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIText-Heavy.woff') format('woff'),
  url('../assets/fonts/SFUIText-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Semibold.eot');
  src: url('../assets/fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Semibold.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../assets/fonts/SFUIText-BoldItalic.eot');
  src: url('../assets/fonts/SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIText-BoldItalic.woff') format('woff'),
  url('../assets/fonts/SFUIText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-SemiboldItalic.eot');
  src: url('../assets/fonts/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Black.eot');
  src: url('../assets/fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Black.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Black.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-RegularItalic.eot');
  src: url('../assets/fonts/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-RegularItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Thin.eot');
  src: url('../assets/fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Thin.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Thin.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Heavy.eot');
  src: url('../assets/fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Heavy.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-Ultralight.eot');
  src: url('../assets/fonts/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-Ultralight.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-Ultralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFProDisplay-ThinItalic.eot');
  src: url('../assets/fonts/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
  url('../assets/fonts/SFProDisplay-ThinItalic.woff') format('woff'),
  url('../assets/fonts/SFProDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../assets/fonts/SFUIText-Bold.eot');
  src: url('../assets/fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIText-Bold.woff') format('woff'),
  url('../assets/fonts/SFUIText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../assets/fonts/SFUIDisplay-Bold.eot');
  src: url('../assets/fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/SFUIDisplay-Bold.woff') format('woff'),
  url('../assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

