@import "fonts";
@import "variables";
@import "bootstrap";

body {
  height: 100vh;
  padding-top: 4rem;
  font-weight: 500;
}

.main {
  background: $mainBackground;
  min-height: calc(100vh - 4rem);
}

.label {
  font-family: 'SF UI Text', sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.08px;
  text-transform: uppercase;
  color: $contentSecondary;
  margin-bottom: 4px;
}
