@import 'src/styles/variables';

.container {
  display: block;
}

.input {
  border: 1px solid $border-color;
  border-radius: 58px;
  background: url("../../images/search.svg") no-repeat 12px 50%;
  padding: 8px 12px 8px 44px;
  font-size: 14px;
  line-height: 22px;
}
