@import 'src/styles/variables';

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.5px;
  flex-grow: 1;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filters {
  display: flex;
  margin-bottom: 2rem;

  & > div {
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 0 16px 8px;
    border-bottom: 2px solid $border-color;
    cursor: pointer;

    &.active, &:hover {
      border-color: #000;
    }
  }
}
